/* ***************************** Header *************************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
}

.logo {
    flex: 1;
}

.logo>img {
    width: 100%;
    padding: 40px;
}

.menu {
    flex: 3;
    display: flex;
}

.menu>li {
    padding: 0 12px;
    position: relative;
}

.sub-menu {
    position: absolute;
    width: 190px;
    border: 1px solid #ccc;
    padding: 6px 10px 10px 15px;
    visibility: hidden;
    top: 50px;
    transition: all 0.3s;
}

.menu li:hover .sub-menu {
    visibility: visible;
    top: 30px;
}

.menu li a {
    font-size: 14px;
    font-weight: bold;
    display: block;
    line-height: 30px;
}

.others {
    flex: 1.1;
    display: flex;
}

.others>li {
    padding: 0 12px;
}

.others>li:first-child {
    position: relative;
}

.others>li:first-child input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
}

.others>li:first-child i {
    position: absolute;
    right: 10px;
}



/* ************************* Footer **************************** */
footer {
    margin-top: 120px;
    padding: 0;
}
.common {

}

.ft {
    width: 100%;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    background-color: #e4e4e4;
}

/* Left */
.left {
    width: 48%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img {
    width: 60%;
    margin-top: -40px;
    padding: 0;
}

.information {
    margin-top: -90px;
}

.information p {
    margin: 10px 0;
}

.follow {
    font-size: 25px;
}

.follow i {

    /* border-radius: 100px; */
    padding: 5px;
}

.brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

span {
    font-size: 16px;
    font-weight: bold;
}


/* Right */
.right {
    width: 48%;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 60px;
}

.right h2 {
    margin-bottom: 10px;
    margin-top: 15px;
}

.right .right1 p {
    padding: 10px 0;
}

.right .right2 p {
    padding: 10px 0;
}

/* License */
.license {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4e4e4;
    padding: 20px 0;
}



/* Footer 1 */
.footer1 {
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: azure;
}

.footer1 .form {
    width: 600px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer1 .form input {
    width: 75%;
    height: 100%;
    /* margin-left: -55px; */
    border-radius: 10px 0px 0px 10px;
    border: none;
}

.footer1 .form input::placeholder {
    color: grey;
    font-size: 16px;
}

.footer1 .form input:active {
    border: none;
}

.footer1 .form .signout {
    width: 25%;
    height: 105.5%;
    background-color: #446084;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0;
}

.footer1 .form .signout a {
    text-decoration: none;
    font-size: 22px;
    color: #ffff;
    font-weight: 650;
}

.footer1 .form .signout a:hover {
    color: grey;
}

.fa-location-dot:hover {
    cursor: pointer;
}

.fa-location-dot a {
    color: #111111;
}




/* ******************************* CART ************************* */
.cart {
    padding: 60px 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

/* .row {
    display: flex;
    flex-direction: row;
} */
.cart-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-top {
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}

.cart-top-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.cart-top-item i {
    color: #dddddd;
}

.cart-top-cart {
    border: 1px solid #0DB7EA;
}

.cart-top-cart i {
    color: #0DB7EA;
}

.cart-content-left {
    flex: 2;
    padding-right: 12px;
}

.cart-content-left table {
    width: 100%;
    text-align: center;
}

.cart-content-left table th {
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
}

.cart-content-left table p {
    font-size: 12px;
    font-family: var(--main-text-font);
    color: #333;
}

.cart-content-left table input {
    width: 30px;
}

.cart-content-left table .span {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #dddddd;
    cursor: pointer;
}


.cart-content-left table td {
    padding: 20px 0;
    border-bottom: 2px solid #dddddd;
}

.cart-content-left td:first-child img {
    width: 130px;
}

.cart-content-left td:nth-child(2) {
    max-width: 130px;
}

.cart-content-left td:nth-child(3) img {
    width: 30px;
}

.cart-content-right {
    flex: 1;
    padding-left: 12px;
    border-left: 2px solid #ddd;
}

.cart-content-right table {
    width: 100%;
}

.cart-content-right table th {
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #ddd;
}

.cart-content-right table td {
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
    padding: 6px 0;
}

.cart-content-right tr:nth-child(4) td {
    border-bottom: 2px solid #ddd;
}

.cart-content-right tr td:last-child {
    text-align: right;
}

.cart-content-right-text {
    margin: 20px 0;
    text-align: center;
}

.cart-content-right-text p {
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
}

.cart-content-right-button {
    text-align: center;
    align-items: center;
}

.cart-content-right-button button {
    padding: 0 18px;
    height: 35px;
    cursor: pointer;
}

.cart-content-right-button button:first-child {
    background-color: #fff;
    border: 1px solid black;
    margin-right: 20px;
}

.cart-content-right-button button:first-child:hover {
    background-color: #ddd;
}

.cart-content-right-button button:last-child {
    background-color: black;
    color: #fff;
    border: none;
    border: 1px solid black;
}

.cart-content-right-button button:last-child:hover {
    background-color: #ddd;
    color: black;
}

.cart-content-right-dangnhap {
    margin-top: 20px;
}

.cart-content-right-dangnhap p {
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
    font-weight: bold;
}



/* ******************************** Delivery ************************* */
.delivery {
    padding: 100px 0;
    width: 90%;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-direction: row;
}

.delivery-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delivery-top {
    height: 2px;
    width: 70%;
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}

.delivery-top-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.delivery-top-item i {
    color: #ddd;
}

.delivery-top-adress {
    border: 1px solid #0DB7EA;
}

.delivery-top-adress i {
    color: #0DB7EA;
}

.delivery-content-left {
    width: 60%;
    padding-right: 12px;
}

.delivery-content-left p {
    font-family: var(--main-text-font);
    font-size: 12px;
}

.delivery-content-left label {
    font-family: var(--main-text-font);
    font-size: 12px;
    margin-bottom: 6px;
    display: block;
}

.delivery-content-left>p {
    font-weight: bold;
}

.delivery-content-left-dangnhap {
    margin-top: 12px;
}

.delivery-content-left-dangnhap i {
    font-size: 12px;
    margin-right: 12px;
}

.delivery-content-left-khachle {
    margin: 12px 0;
}

.delivery-content-left-khachle input {
    margin-right: 12px;
}

.delivery-content-left-dangky {
    margin-bottom: 30px;
}

.delivery-content-left-dangky input {
    margin-right: 12px;
}

.delivery-content-left-input-top {
    justify-content: space-between;
    flex-wrap: wrap;
}

.delivery-content-left-input-top-item {
    width: calc(50% - 12px);
}

.delivery-content-left-input-top-item input {
    width: 100%;
    height: 35px;
    border: 1px solid #ddd;
    padding-left: 6px;
}

.delivery-content-left-input-bottom input {
    width: 100%;
    height: 35px;
    border: 1px solid #ddd;
    padding-left: 6px;
}

.delivery-content-left-button p {
    display: inline-block;
    font-family: var(--main-text-font);
    font-size: 12px;
}

.delivery-content-left-button span {
    margin-right: 12px;
}

.delivery-content-left-button {
    justify-content: space-between;
    padding-top: 20px;
}

.delivery-content-left-button button {
    height: 35px;
    border: 2px solid black;
    padding-left: 6px 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.delivery-content-left-button button:hover {
    background-color: black;
    color: #fff;
}

.delivery-content-right {
    width: 40%;
    padding-left: 12px;
    border-left: 2px solid #ddd;
    height: auto;
}

.delivery-content-right table {
    width: 100%;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-align: center;
}

.delivery-content-right table tr th:first-child {
    text-align: left;
}

.delivery-content-right table tr th {
    padding-bottom: 12px;
    border-bottom: 2px solid #ddd;
}
.delivery-content-right table tr th:last-child {
    text-align: right;
}
.delivery-content-right table tr td {
    padding: 6px 0;
}
.delivery-content-right table tr:nth-child(4) {
    border-top: 2px solid #dddddd;
}
.delivery-content-right table tr td:last-child {
    text-align: right;
}
.delivery-content-right table tr td:first-child {
    text-align: left;
}



/* ******************************* Payment ************************** */
.payment {
    padding: 100px 0;
    width: 90%;
    margin: 0 auto;
}
.payment-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment-top {
    height: 2px;
    width: 70%;
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}

.payment-top-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.payment-top-item i {
    color: #ddd;
}

.payment-top-payment {
    border: 1px solid #0DB7EA;
}

.payment-top-payment i {
    color: #0DB7EA;
}
.payment-content-left {
    width: 60%;
}
.payment-content-right {
    width: 40%;
    border-left: 2px solid #ddd;
    padding-left: 12px;
}
.payment-content-left p, label {
    font-size: 12px;
    font-family: var(--main-text-font);
}
.payment-content-right-button {
    display: flex;
    padding: 12px;
    border-bottom: 1px dashed #ddd;
}
.payment-content-right-button input {
    height: 30px;
    width: 200px;
    margin-right: 100px;
    padding-left: 12px;
}
.payment-content-right-button button {
    height: 30px;
    width: 100px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
}
.payment-content-right-mnv {
    margin-top: 20px;
}
.payment-content-right-mnv select {
    height: 30px;
    width: 100%;
    color: #75758a;
    padding-left: 12px;
}
.payment-content-right-payment {
    margin-top: 50px;
    align-items: center;
    text-align: center;
}
.payment-content-right-payment button {
    height: 35px;
    padding: 0 20px;
    font-size: 12px;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid #000;
}
.payment-content-right-payment button:hover {
    background-color: black;
    color: #fff;
}